[submodule "tmux-themepack"]
	path = tmux-themepack
	url = https://github.com/jimeh/tmux-themepack.git
[submodule "vim/pack/packages/start/nerdtree"]
	path = vim/pack/packages/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/packages/start/ctrlp.vim"]
	path = vim/pack/packages/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/pack/packages/start/gruvbox"]
	path = vim/pack/packages/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/pack/packages/start/vim"]
	path = vim/pack/packages/start/vim
	url = https://github.com/dracula/vim.git
[submodule "vim/pack/packages/start/dracula"]
	path = vim/pack/packages/start/dracula
	url = https://github.com/dracula/vim.git
[submodule "vim/pack/packages/opt/vim"]
	path = vim/pack/packages/opt/vim
	url = https://github.com/dracula/vim.git
[submodule "vim/pack/packages/opt/dracula"]
	path = vim/pack/packages/opt/dracula
	url = https://github.com/dracula/vim.git
